/* UNIVERSAL */

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 6px;
}

/* HEADER */

.header {
    /* Colors to default to unless otherwise specified */
    background-color: #1f2937;

    padding: 1% 10%;
    border-radius: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-links {
    list-style-type: none;
    padding: 0;

    color: #e5e7eb;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    gap: 36px;
}

a {
    text-decoration: none;
    color: white;
}

/* FOOTER */

.footer {
    color: #e5e7eb;
    background-color: #1f2937;

    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2% 10%;
}

/* PART ONE */

.part-one {
    color: #f9f9f9;
    background-color: #1f2937;

    padding: 5% 10%;
    border-radius: 0;

    display: flex;
    gap: 5%
}

.part-one-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 24px;
}

.part-one-header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;

    margin: 0px 0px;

    display: flex;
    margin: 0;
}

.part-one-image {
    display: flex;
    justify-content: right;
    align-items: center;
}

.part-one-button {
    color: #E5E7EB;
    background-color: #3882F6;

    padding: 6px 24px;
    border: 0;
    border-radius: 6px;
    
    display: flex;
    align-self: flex-start;
}

/* PART TWO */

.part-two {
    display: flex;
    flex-direction: column;

    padding: 6% 10%;
}

.part-two-header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.part-two-units {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    padding-top: 2%;
}

.part-two-unit {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.part-two-unit img {
    border: 4px solid #3882F6;
}

.part-two-unit p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1f2937
}

/* PART THREE */
.part-three {
    color: #1f2937;
    background-color: #e5e7eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 6% 15%;
}

.part-three-quote {
    font-size: 36px;
    font-style: italic;
    padding: 16px;
}

.part-three-reference {
    font-size: 18px;
    font-weight: 900;
    text-align: right;
}

/* PART FOUR */

/* .part-four {
    background-color: #E5E7EB;
}

.part-four-subsection {
    background-color: #3882F6;
    border-radius: 6px;
    margin: 4% 15%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2% 6%;
}

.part-four-heading {
    font-size: 16px;
}  */
